<section class="section bg-grey" id="feature">
    <div class="container">
        <div class="row justy-content-center">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="text-center feature-block">
                    <div class="img-icon-block mb-4">
                        <i class="ti-thumb-up"></i>
                    </div>
                    <h4 class="mb-2">Pendientes de tus necesidades</h4>
                    <p>Nuestro equipo te escucha y atiende tus requerimientos.</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="text-center feature-block">
                    <div class="img-icon-block mb-4">
                        <i class="ti-cup"></i>
                    </div>
                    <h4 class="mb-2">Desempeño reconocido</h4>
                    <p>No hay mejor manera de conocer la calidad de nuestros servicios que a través de las palabras de
                        nuestros clientes.</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="text-center feature-block">
                    <div class="img-icon-block mb-4">
                        <i class="ti-wallet"></i>
                    </div>
                    <h4 class="mb-2">Compárenos</h4>
                    <p>Nuestra reputación se basa en la calidad de nuestro servicio. Compruébelo usted mismo y elija la
                        excelencia con nosotros.</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="text-center feature-block">
                    <div class="img-icon-block mb-4">
                        <i class="ti-dashboard"></i>
                    </div>
                    <h4 class="mb-2">Servicios especiales</h4>
                    <p>Descubra nuestros servicios personalizados diseñados para satisfacer sus necesidades únicas.</p>
                </div>
            </div>
        </div>
    </div> <!-- / .container -->
</section>