<!-- SERVICE-1
    ================================================== -->
<section class="bg-grey" id="service">
    <div class="container">
        <div class="row ">
            <div class="col-lg-4">
                <div class="service-img">
                    <img src="images/blog-lg.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="col-lg-6 pl-4">
                <div class="service-content">
                    <h1>Experimente un transporte de calidad superior hoy mismo.
                    </h1>
                    <p> Nos esforzamos por brindarte un valor inigualable por tu inversión, ofreciendo
                        servicios de transporte que destacan por su calidad, seguridad y eficiencia en cada viaje.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-5 service-wrap">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 offset-lg-4">
                <div class="carousel slide " id="service-carousel" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="service-block media">
                                            <div class="service-icon">
                                                <i class="ti-reload"></i>
                                            </div>
                                            <div class="service-inner-content media-body">
                                                <h4>Retroalimentación</h4>
                                                <p>Apreciamos y fomentamos la opinión de nuestros clientes para mejorar
                                                    continuamente.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="service-block media">
                                            <div class="service-icon">
                                                <i class="ti-cloud"></i>
                                            </div>
                                            <div class="service-inner-content media-body">
                                                <h4>Web</h4>
                                                <p>Cotizaciones y consultas a traves de la web.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="service-block media">
                                            <div class="service-icon">
                                                <i class="ti-world"></i>
                                            </div>
                                            <div class="service-inner-content media-body">
                                                <h4>Conectados</h4>
                                                <p>Nos enfocamos en brindar soluciones de transporte personalizado que
                                                    conectan personas y lugares.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="service-block media">
                                            <div class="service-icon">
                                                <i class="ti-server"></i>
                                            </div>
                                            <div class="service-inner-content media-body">
                                                <h4>Compromiso</h4>
                                                <p>Nuestro compromiso es proporcionar servicios de transporte
                                                    excepcionales, respaldados por nuestra dedicación a la seguridad, la
                                                    puntualidad y la satisfacción del cliente.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <p class="pl-3">Quieres saber mas de nosotros? <a href="contact.html">Contáctenos</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>