<section id="work-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <br><br>
                    <h1>Le presentamos nuestras unidades que cubren los servicios ofrecidos.</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <br><br>
                <p class="lead">Las unidades </p>
            </div>
        </div>
    </div>
</section>

<section id="work" class="section-bottom">
    <div class="container">
        <!--primera fila-->
        <div class="row">

            <div class="col-lg-4 col-md-6 p-0">
                <div class="work-block">
                    <img src="images/work/unidad1.jpg" alt="work-img" class="img-fluid">
                    <div class="overlay-content-block">
                        <h4>Camioneta doble cabina</h4>
                        <p>Esta unidad es ...</p>
                        <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 p-0">
                <div class="work-block">
                    <img src="images/work/unidad3.jpg" alt="work-img" class="img-fluid">
                    <div class="overlay-content-block">
                        <h4>Camioneta de una cabina</h4>
                        <p>Esta unidad es ...</p>
                        <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 p-0">
                <div class="work-block">
                    <img src="images/work/unidad5.jpg" alt="work-img" class="img-fluid">
                    <div class="overlay-content-block">
                        <h4>Camioneta toyota</h4>
                        <p>Esta unidad es ...</p>
                        <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>

            <!--2da fila-->

            <div class="col-lg-4 col-md-6 p-0">
                <div class="work-block">
                    <img src="images/work/unidad2.jpg" alt="work-img" class="img-fluid">
                    <div class="overlay-content-block">
                        <h4>Unidad 4</h4>
                        <p>Esta unidad es ...</p>
                        <a href="single-project.html"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 p-0">
                <div class="work-block">
                    <img src="images/work/unidad4.jpg" alt="work-img" class="img-fluid">
                    <div class="overlay-content-block">
                        <h4>Unidad 5</h4>
                        <p>Esta unidad es ...</p>
                        <a href="single-project.html"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 p-0">
                <div class="work-block">
                    <img src="images/work/unidad7.jpg" alt="work-img" class="img-fluid">
                    <div class="overlay-content-block">
                        <h4>Unidad 6</h4>
                        <p>Esta unidad es ...</p>
                        <a href="single-project.html"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <!--3ra fila-->
            <div class="col-lg-3 col-md-6 p-0">
                <div class="work-block">
                    <img src="images/work/unidad6.jpg" alt="work-img" class="img-fluid">
                    <div class="overlay-content-block">
                        <h4>Unidad 7</h4>
                        <p>Esta unidad es ...</p>
                        <a href="single-project.html"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 p-0">
                <div class="work-block">
                    <img src="images/work/unidad8.jpg" alt="work-img" class="img-fluid">
                    <div class="overlay-content-block">
                        <h4>Unidad 8</h4>
                        <p>Esta unidad es ...</p>
                        <a href="single-project.html"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 p-0">
                <div class="work-block">
                    <img src="images/work/unidad9.jpg" alt="work-img" class="img-fluid">
                    <div class="overlay-content-block">
                        <h4>Unidad 9</h4>
                        <p>Esta unidad es ...</p>
                        <a href="single-project.html"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 p-0">
                <div class="work-block">
                    <img src="images/work/unidad8.jpg" alt="work-img" class="img-fluid">
                    <div class="overlay-content-block">
                        <h4>Unidad 10</h4>
                        <p>Esta unidad es ...</p>
                        <a href="single-project.html"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const enlacesCarrito = document.querySelectorAll('.enlace-carrito');

        enlacesCarrito.forEach(function (enlace) {
            enlace.addEventListener('click', function (event) {
                event.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

                // Obtener el texto del div específico al que pertenece el enlace
                const divPadre = this.closest('.work-block');
                const mensaje = divPadre.querySelector('h4').textContent;

                // Transferir el mensaje al formulario de contacto
                document.getElementById('message').value = "Hola, estoy interesado en: " + mensaje;

                // Desplazar la página hacia el formulario
                document.getElementById('formulario-contacto').scrollIntoView({ behavior: 'smooth' });
            });
        });
    });
</script>