<!--
    <section id="work-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <br><br>
                    <h1>Le presentamos nuestras unidades que cubren los servicios ofrecidos.</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <br><br>
                <p class="lead">Las unidades </p>
            </div>
        </div>
    </div>
</section>
-->



<!---->
<section id="work" class="section-bottom">
    <div id="carrousel_3" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <!--primer contenedor slide-->
            <div class="carousel-item active" id="slide1">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/unidad1.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Camioneta doble cabina</h4>
                                    <p>Esta unidad es ...</p>
                                    <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/unidad3.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Camioneta de una cabina</h4>
                                    <p>Esta unidad es ...</p>
                                    <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/unidad5.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Camioneta toyota</h4>
                                    <p>Esta unidad es ...</p>
                                    <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>

                        <!--2da fila-->

                        <div class="col-lg-4 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/unidad2.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Unidad 4</h4>
                                    <p>Esta unidad es ...</p>
                                    <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/unidad4.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Unidad 5</h4>
                                    <p>Esta unidad es ...</p>
                                    <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/unidad7.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Unidad 6</h4>
                                    <p>Esta unidad es ...</p>
                                    <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--3ra fila-->
                        <div class="col-lg-3 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/unidad6.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Unidad 7</h4>
                                    <p>Esta unidad es ...</p>
                                    <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/unidad8.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Unidad 8</h4>
                                    <p>Esta unidad es ...</p>
                                    <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/unidad9.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Unidad 9</h4>
                                    <p>Esta unidad es ...</p>
                                    <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/unidad8.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Unidad 10</h4>
                                    <p>Esta unidad es ...</p>
                                    <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--segundo contenedor slide-->
            <div class="carousel-item" id="slide2">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/unidad1.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Camioneta doble cabina aaaaaaaa</h4>
                                    <p>Esta unidad es ...</p>
                                    <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/unidad3.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Camioneta de una cabina</h4>
                                    <p>Esta unidad es ...</p>
                                    <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/unidad5.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Camioneta toyota</h4>
                                    <p>Esta unidad es ...</p>
                                    <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>

                        <!--2da fila-->

                        <div class="col-lg-4 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/unidad2.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Unidad 4</h4>
                                    <p>Esta unidad es ...</p>
                                    <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/unidad4.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Unidad 5</h4>
                                    <p>Esta unidad es ...</p>
                                    <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/unidad7.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Unidad 6</h4>
                                    <p>Esta unidad es ...</p>
                                    <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--3ra fila-->
                        <div class="col-lg-3 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/unidad6.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Unidad 7</h4>
                                    <p>Esta unidad es ...</p>
                                    <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/unidad6.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Unidad 8</h4>
                                    <p>Esta unidad es ...</p>
                                    <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/unidad6.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Unidad 9</h4>
                                    <p>Esta unidad es ...</p>
                                    <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 p-0">
                            <div class="work-block">
                                <img src="images/work/unidad6.jpg" alt="work-img" class="img-fluid">
                                <div class="overlay-content-block">
                                    <h4>Unidad 10</h4>
                                    <p>Esta unidad es ...</p>
                                    <a href="#" class="enlace-carrito"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <a class="carousel-control-prev" href="#carrousel_3" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <!-- Espacio para mostrar el número del slide -->
                <span id="slide-number">
                    <script>

                        $(document).ready(function () {
                            $('#carousel-inner').on('slid.bs.carousel', function () {
                                var slideID = $('.carousel-item.active').attr('id');
                                $('#slide-number').text('Slide actual: ' + slideID);
                            });
                        });
                    </script>
                </span> <!-- Espacio para mostrar el número del slide -->

                <a class="carousel-control-next" href="#carrousel_3" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
    <style>
        #carrousel_3 .carousel-control-prev,
        #carrousel_3 .carousel-control-next {
            width: 50px;
            /* Ancho de la esfera */
            height: 50px;
            /* Altura de la esfera */
            background-color: #0d89fd;
            /* Color de fondo de la esfera */
            bottom: -50px !important;
            top: auto;
            opacity: .8;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 20px;
        }

        #carrousel_3 .carousel-control-prev {
            left: 50px;
            border-radius: 50%;
            /* Hace que el borde sea redondeado para formar una esfera */
        }

        #carrousel_3 .carousel-control-next {
            right: 50px;
            border-radius: 50%;
            /* Hace que el borde sea redondeado para formar una esfera */
        }
    </style>
</section>
<!---->



<script>

    document.addEventListener('DOMContentLoaded', function () {
        const enlacesCarrito = document.querySelectorAll('.enlace-carrito');

        enlacesCarrito.forEach(function (enlace) {
            enlace.addEventListener('click', function (event) {
                event.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

                // Obtener el texto del div específico al que pertenece el enlace
                const divPadre = this.closest('.work-block');
                const mensaje = divPadre.querySelector('h4').textContent;

                // Transferir el mensaje al formulario de contacto
                document.getElementById('message').value = "Hola, estoy interesado en: " + mensaje;

                // Desplazar la página hacia el formulario
                document.getElementById('formulario-contacto').scrollIntoView({ behavior: 'smooth' });
            });
        });
    });
</script>