<section id="projects" class="section-bottom">
    <div class="container">
        <div class="row py-4">
            <div class="col-lg-7 col-md-12 col-sm-12 ">
                <div class="single-project">
                    <img src="images/bg/banner_bg.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 ">
                <div class="project-content-block">
                    <h4>Sabes quienes somos realmente?</h4>
                    <h2>Mas que ofrecer un servicio para tus necesidades...</h2>
                    <p>En GRUPO HCC DALESE, nuestra conexión va más allá de lo empresarial; somos una familia dedicada
                        al triunfo colectivo.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" id="projects-wrap">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h1 class="text-white">Descubre Quiénes Somos: Comprometidos con la Excelencia en Transporte y
                        Abastecimiento en Arequipa.</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="lead text-white">En GRUPO HCC DALESE, estamos comprometidos con la excelencia en transporte y
                    abastecimiento en Arequipa. Ofrecemos servicios de alquiler de camionetas, transporte de personal y
                    arrendamiento de camiones cisterna, siempre con un enfoque centrado en el cliente y la innovación
                    constante. </p>
            </div>
        </div>
    </div>
</section>

<section id="projects" class="section-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                <div class="single-project">
                    <img src="images/projects/p-1.jpg" alt="" class="img-fluid">
                    <div class="project-content">
                        <h4>MISIÓN</h4>
                        <p>Proporcionar soluciones integrales de transporte y abastecimiento de agua, destacando en los
                            sectores de alquiler de camionetas, transporte de personal y arrendamiento de camiones
                            cisterna, para satisfacer las necesidades de proyectos mineros y civiles en Arequipa y sus
                            alrededores.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                <div class="single-project">
                    <img src="images/projects/p-4.jpg" alt="" class="img-fluid">
                    <div class="project-content">
                        <h4>VISIÓN</h4>
                        <p>Nos visualizamos como líderes reconocidos en el sector de transporte y abastecimiento,
                            ofreciendo servicios innovadores y de calidad excepcional que superen las expectativas de
                            nuestros clientes, tanto en el alquiler de camionetas como en el transporte de personal y
                            arrendamiento de camiones cisterna.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8 ">
                <div class="single-project">
                    <img src="images/projects/p-3.jpg" alt="" class="img-fluid">
                    <div class="project-content">
                        <h4>VALORES</h4>
                        <p>
                        <ul>
                            <li style="text-align : justify">Confianza.</li>
                            <li style="text-align : justify">Excelencia</li>
                            <li style="text-align : justify">Responsabilidad</li>
                            <li style="text-align : justify">Innovación</li>
                        </ul>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <!--ponelo -->

        <!---->
    </div>
</section>