<section class="section" id="pricing">
    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <!-- Heading -->
                    <h2 class="section-title">
                        Servicios Ofertados
                    </h2>

                    <!-- Subheading -->
                    <p>
                        Ofrecemos los siguientes servicios:
                    </p>
                </div>
            </div>
        </div> <!-- / .row -->
        <!--carrusel prueba-->
        <!---->
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="pricing-box">
                    <h3>Transporte de personal</h3>
                    <div class="price-block">
                        <!--<h2><small>$</small>13<span>monthly</span></h2>-->
                        <img src="images/servicio1.png" alt="Imagen" class="img-fluid" style="border-radius: 10px" ;>
                    </div>

                    <ul class=" price-features list-unstyled">
                        <li>Caracteristica 1</li>
                        <li>Caracteristica 2</li>
                        <li>Caracteristica 3 </li>
                        <li>Caracteristica 4</li>
                        <li>Caracteristica 5</li>
                    </ul>

                    <a href="servicio1.html" class="btn btn-outline-dark btn-circled">Detalle</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="pricing-box">
                    <h3>Alquiler de camioneta</h3>
                    <div class="price-block">
                        <img src="images/servicio2.png" alt="Imagen" class="img-fluid" style="border-radius: 10px" ;>
                    </div>

                    <ul class="price-features list-unstyled">
                        <li>Caracteristica 1</li>
                        <li>Caracteristica 2</li>
                        <li>Caracteristica 3 </li>
                        <li>Caracteristica 4</li>
                        <li>Caracteristica 5</li>
                    </ul>

                    <a href="servicio2.html" class="btn btn-outline-dark btn-circled">Detalle</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-8 col-md-6">
                <div class="pricing-box ">
                    <h3>Alquiler minibus/bus</h3>
                    <div class="price-block">
                        <img src="images/servicio3.png" alt="Imagen" class="img-fluid" style="border-radius: 10px" ;>
                    </div>

                    <ul class="price-features list-unstyled">
                        <li>Caracteristica 1</li>
                        <li>Caracteristica 2</li>
                        <li>Caracteristica 3 </li>
                        <li>Caracteristica 4</li>
                        <li>Caracteristica 5</li>
                    </ul>

                    <a href="servicio3.html" class="btn btn-outline-dark btn-circled">Detalle</a>
                </div>
            </div>
            <!---->
            <div class="col-lg-3 col-sm-8 col-md-6">
                <div class="pricing-box ">
                    <h3>Alquiler cisterna</h3>
                    <div class="price-block">
                        <img src="images/servicio4.png" alt="Imagen" class="img-fluid" style="border-radius: 10px" ;>
                    </div>

                    <ul class="price-features list-unstyled">
                        <li>Caracteristica 1</li>
                        <li>Caracteristica 2</li>
                        <li>Caracteristica 3 </li>
                        <li>Caracteristica 4</li>
                        <li>Caracteristica 5</li>
                    </ul>

                    <a href="servicio4.html" class="btn btn-outline-dark btn-circled">Detalle</a>
                </div>
            </div>
            <!---->
        </div>
    </div>
</section>