<section class="section" id="process">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <!-- Heading -->
                    <h2 class="section-title">
                        Nuestro proceso de trabajo
                    </h2>

                    <!-- Subheading -->
                    <p>
                        En HCC Services, nos comprometemos a ofrecer una experiencia de transporte personalizada y sin
                        contratiempos. Nuestro proceso de trabajo se basa en tres pasos fundamentales:
                    </p>

                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="process-block">
                    <img src="images/process/process-1.jpg" alt="" class="img-fluid">

                    <h3>Planificación Personalizada</h3>
                    <p>Nuestro equipo colabora estrechamente contigo para entender tus necesidades específicas y diseñar
                        un plan de transporte personalizado que se adapte a tus requerimientos y horarios.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="process-block">
                    <img src="images/process/process-2.jpg" alt="" class="img-fluid">

                    <h3>Implementación Eficiente</h3>
                    <p>Una vez acordado el plan, nos encargamos de ejecutarlo de manera eficiente y puntual, asegurando
                        una movilidad fluida y segura para tu personal en cada etapa del proceso.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="process-block">
                    <img src="images/process/process-3.jpg" alt="" class="img-fluid">

                    <h3>Seguimiento y Mejora Continua</h3>
                    <p>Mantenemos una comunicación constante durante todo el proceso y estamos siempre atentos a tus
                        comentarios y sugerencias. Nos esforzamos por mejorar continuamente nuestros servicios.</p>
                </div>
            </div>
        </div>
    </div>
</section>