<section class="section" id="services-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <!-- Heading -->
                    <h2 class="section-title mb-2 text-white">
                        Experiencia prestando servicios
                    </h2>

                    <!-- Subheading -->
                    <p class="mb-5 text-white">
                        En GRUPO HCC DALESE nos enorgullece ofrecer soluciones integrales de transporte ...
                    </p>
                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                <div class="web-service-block">
                    <img src="images/antamina.png" alt="Iluminando el camino">
                    <h3>Antamina</h3>
                    <p>Texto 1</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                <div class="web-service-block">
                    <img src="images/shougang.png" alt="Iluminando el camino">
                    <h3>Shougan Hierro Perú</h3>
                    <p>Texto 2</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                <div class="web-service-block">
                    <img src="images/angloamerican.jpg" alt="Iluminando el camino">
                    <h3>Angloamerican</h3>
                    <p>Texto 3</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6 ">
                <div class="web-service-block">
                    <img src="images/cerroverde.jpg" alt=" Iluminando el camino">
                    <h3>Cerro Verde</h3>
                    <p>Texto 4</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 ">
                <div class="web-service-block">
                    <img src="images/Southern-Peru.png" alt="Iluminando el camino">
                    <h3>Southern-Perú </h3>
                    <p>Texto 5</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 ">
                <div class="web-service-block">
                    <img src="images/buenaventura.png" alt="Iluminando el camino">
                    <h3>Buenaventura</h3>
                    <p>Texto 6
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>