<section class="section" id="section-testimonial">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-sm-12 col-md-12">
                <div class="section-heading testimonial-heading">
                    <h1>Lo que dicen <br>de nosotros</h1>
                    <p>Nuestros principales clientes nos avalan a lo largo de la zona sur del país.</p>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="test-inner ">
                            <div class="test-author-thumb d-flex">
                                <img src="images/client/cosapi.jpg" alt="Testimonial author" class="img-fluid">
                                <div class="test-author-info">
                                    <h4>COSAPI </h4>
                                    <h6>Mina Quellaveco 2010-2011</h6>
                                </div>
                            </div>

                            Descripcion del trabajo realizado en la Empresa 1.

                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="test-inner ">
                            <div class="test-author-thumb d-flex">
                                <img src="images/client/jjc.jpg" alt="Testimonial author" class="img-fluid">
                                <div class="test-author-info">
                                    <h4>JJC Contratistas Generales</h4>
                                    <h6>Breve Descripcion Empresa 2</h6>
                                </div>
                            </div>

                            Descripcion del trabajo realizado en la Empresa 2.

                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="test-inner ">
                            <div class="test-author-thumb d-flex">
                                <img src="images/client/abengoa.jpg" alt="Testimonial author" class="img-fluid">
                                <div class="test-author-info">
                                    <h4>Abengoa Perú</h4>
                                    <h6>Breve Descripcion Empresa 3</h6>
                                </div>
                            </div>

                            Descripcion del trabajo realizado en la Empresa 3.

                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="test-inner ">
                            <div class="test-author-thumb d-flex">
                                <img src="images/client/besalco.jpg" alt="Testimonial author" class="img-fluid">
                                <div class="test-author-info">
                                    <h4>Besalco Perú</h4>
                                    <h6>Breve Descripcion Empresa 4</h6>
                                </div>
                            </div>

                            Descripcion del trabajo realizado en la Empresa 4.

                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="test-inner">
                            <div class="test-author-thumb d-flex">
                                <img src="images/client/motta.jpg" alt="Testimonial author" class="img-fluid">
                                <div class="test-author-info">
                                    <h4>Motta Engil</h4>
                                    <h6>Breve Descripcion Empresa 5</h6>
                                </div>
                            </div>

                            Descripcion del trabajo realizado en la Empresa 5.

                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="test-inner">
                            <div class="test-author-thumb d-flex">
                                <img src="images/client/ecop.jpg" alt="Testimonial author" class="img-fluid">
                                <div class="test-author-info">
                                    <h4>ECOP Ingeniería y Construcción</h4>
                                    <h6>Breve Descripcion Empresa 6</h6>
                                </div>
                            </div>

                            Descripcion del trabajo realizado en la Empresa6.

                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>